.main-header{
    text-align: center;
    margin: 0;
    padding-top: 0%;
}

.pilih-bangun-datar {
    display: flex;
    justify-content: center;
    gap: 10px; 
    margin-top: 10px;
}

.pilih-bangun-datar>h4{
    margin: 0;
    margin-top: 10px;
}

.header-segitiga>h1, .header-jajargenjang>h1{
    display: flex;
    height: 80px;
    background: transparent;
    backdrop-filter: blur(10px);
    box-shadow: 0 0 5px #eebbc3;
    align-items: center;
    justify-content: center;
    margin-top: 10px;
    font-weight: bold;
    color: #fffffe;
    font-size: large;
}

.konten-segitiga,.konten-jajargenjang{
    display: flex;
    flex-direction: column;
}

img{
    width: 100%;
    height: 100%;
}

.rumus-luas-segitiga,.rumus-keliling-segitiga,.rumus-luas-jajargenjang,.rumus-keliling-jajargenjang{
    text-align: center;
    font-weight: bold;
}

.wrapper {
    background: transparent;
    backdrop-filter: blur(10px);
    border: 2px solid #eebbc3;
    box-shadow: 0 0 10px #eebbc3;
    border-radius: 10px;
    padding: 30px 40px;
    width: 80%;
}

.wrapper h1 {
    text-align: center;
    font-size: 30px;
}

.input-box input {
    height: 50px;
    width: 90%;
    outline: none;
    font-size: 1rem;
    margin-top: 8px;
    border: 1px solid #ddd;
    color: #fffffe;
    border-radius: 5px;
    padding: 0 15px;
    background: transparent;
}

.input-box input::-webkit-input-placeholder{
    color: #eebbc3;
}

.button-hitung{
    background: transparent;
    width: 100px;
    height: 50px;
    border-radius: 10px;
    border: 1px solid #eebbc3;
    color: aliceblue;
    font-weight: bold;
}

.button-hitung:hover{
    background: transparent;
    box-shadow: 0 0 10px #eebbc3;

}

.button-reset{
    background: #b8c1ec;
    width: 100px;
    height: 50px;
    border-radius: 10px;
    color: #232946;
    font-weight: bold;
    border: 1px solid #b8c1ec;
}

.button-reset:hover{
    background-color: #eebbc3;
    color: #fffffe;
    border: 1px solid #eebbc3;
    box-shadow: 0 0 10px #eebbc3;
}

.main-content{
    display: flex;
    margin-right: 5px;
}

.main-content-segitiga{
    display: none;
}

body {
    background-image: url(https://d33wubrfki0l68.cloudfront.net/b4759e96fa9ada8ee8caa4c771fcd503f289d791/5cf1a/img/triangle_background.jpg);

}

.main-content-jajargenjang{
    display: none;
}

.main-content>aside{
    flex: 1;
}

.perhitungan>p{
    margin: 0;
}

.gambar-segitiga {
    height: 300px;
    width: 300px;
    border: none;
    background-image: url(https://asset.kompas.com/crops/ZwOr6ZrEtAtid5uZmYhDFijYPa4=/175x161:1573x1094/750x500/data/photo/2022/03/09/62288763c6d64.png);
    background-size: cover;
    background-position: center;
    align-self: center;
    margin-bottom: 20px;
    margin-top: 10px;
}

.gambar-segitiga:hover {
    box-shadow: 0 0 15px #eebbc3;
}

.gambar-jajargenjang {
    height: 300px;
    width: 300px;
    border: none;
    background-image: url(https://cdn.idntimes.com/content-images/community/2023/11/rumus-jajargenjang-555f7e6f55a0e0cc6f0ebf54b37a7096-1eb7c6dd670f7a8c1f0037c5cde4d7a1.jpg);
    background-size: cover;
    background-position: center;
    align-self: center;
    margin-bottom: 20px;
    margin-top: 10px;
}

.gambar-jajargenjang:hover{
    box-shadow: 0 0 15px #eebbc3;
}

body {
    background-color: #232946;
}

.text-color {
    color: #fffffe;
    font-weight: bold;
    font-size: large;
}

.btn{
    width: 20%;
    height: 50px;
    background: transparent;
    backdrop-filter: blur(10px);
    color: #fffffe;
    font-weight: bold;
    border-radius: 9px;
    border: 1px solid #eebbc3;
}

.btn:hover{
    background: transparent;
    box-shadow: 0 0 15px #eebbc3;
}

.header-color {
    color: #fffffe;
}

@media only screen and (max-width: 480px){
    .main-content{
        flex-direction: column;
    }
}

footer {
    display: flex;
    height: 60px;
    background: transparent;
    backdrop-filter: blur(10px);
    box-shadow: 0 0 5px #eebbc3;
    align-items: center;
    justify-content: center;
    margin-top: 10px;
    font-size: large;
    margin-top: 30px;
}